In [46]:
import pandas as pd
from datetime import datetime

In [47]:
data = pd.read_csv('./data/location_jan17_may19_clean.csv', encoding = 'cp949')

In [48]:
data = data[['code', 'month', 'rentals']].drop_duplicates()

In [49]:
data.month = pd.to_datetime(data.month)

In [50]:
data['month_label'] = data.month.dt.month

In [51]:
df_monthly_rental_sum = data.groupby('month').rentals.sum().reset_index()
df_monthly_rental_sum.columns = ['month', 'rental_sum']

In [52]:
data_with_sum = data.merge(df_monthly_rental_sum, on = 'month', how = 'left')
data_with_sum['rental_percentage'] = data_with_sum.rentals/data_with_sum.rental_sum

In [53]:
df_final = data_with_sum.groupby(['code','month_label']).rental_percentage.mean().reset_index()

In [90]:
df_final.to_csv('office_monthly_weightage.csv', index=False)

In [11]:
df_final

       code  month_label  rental_percentage
0      1001            1           0.000933
1      1001            2           0.001008
2      1001            3           0.001010
3      1001            4           0.000676
4      1001            5           0.001097
...     ...          ...                ...
17529  중랑센터            2           0.000286
17530  중랑센터            3           0.000124
17531  중랑센터            4           0.000177
17532  중랑센터            5           0.000094
17533  중랑센터            6           0.000062

[17534 rows x 3 columns]