In [1]:
#import the packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #For plotting
from sklearn.cluster import KMeans #Do K-Means clustering
from sklearn.metrics import silhouette_score #Calculate score of silhouette for each K
from sklearn.preprocessing import StandardScaler
from kneed import KneeLocator #Find the knee of the WCSS vs K plot
from yellowbrick.cluster import silhouette_visualizer #Plot Silhouette plot
from scipy.stats import f_oneway
import statsmodels.api as sm
from statsmodels.formula.api import ols
import plotly
import plotly.express as px
import plotly.io as pio

In [2]:
#Importing the dataset
officeLat_data = pd.read_excel('Rental_Office_July_to_Nov_2018.xlsx')
officeLat_data.head()

,Unnamed: 0,month,code,office,rentals,returns,location_map,latitude,logitude
0,0,201806,101,101. (구)합정동 주민센터,832,807,"(37.549561, 126.905754)",37.549561,126.905754
1,1,201806,102,102. 망원역 1번출구 앞,2819,2568,"(37.5556488, 126.9106293)",37.555649,126.910629
2,2,201806,103,103. 망원역 2번출구 앞,1977,1769,"(37.55495071, 126.9108353)",37.554951,126.910835
3,3,201806,104,104. 합정역 1번출구 앞,1682,1610,"(37.55062866, 126.9149857)",37.550629,126.914986
4,4,201806,105,105. 합정역 5번출구 앞,1105,925,"(37.55000687, 126.9148254)",37.550007,126.914825