In [2]:
# !pip install googletrans==3.1.0a0

In [50]:
import pandas as pd
from googletrans import Translator
translator = Translator()

In [51]:
translator.detect("안녕하세요")

In [52]:
translation = translator.translate("안녕하세요", src= 'ko', dest = 'en')
print(f"{translation.origin} ({translation.src}) --> {translation.text} ({translation.dest})")

안녕하세요 (en) --> 안녕하세요 (en)

In [4]:
df_rental1 = pd.read_csv('../data/rental_office_info.csv', encoding='cp949')

In [5]:
df_rental1.head()

,code,office,borough,address,latitude,longitude,install_date,LCD,QR,type
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,07/10/2015,16.0,NaN,LCD
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,07/10/2015,12.0,NaN,LCD
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,07/10/2015,8.0,NaN,LCD
3,304,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,26/01/2021,NaN,7.0,QR
4,305,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,07/10/2015,16.0,NaN,LCD

In [6]:
df_rental1.loc[1:10].office.apply(lambda x: translator.translate(x, dest='en').text)

1                Behind Gyeongbokgung Station Exit 4
2             In front of Gwanghwamun Station Exit 1
3             In front of Gwanghwamun Station Exit 2
4                           Next to Jongno-gu Office
5             In front of Gwanghwamun Station Exit 7
6                In front of Seoul Museum of History
7                    In front of Gwanghwamun S Tower
8                 Next to Gwanghwamun Station Exit 6
9     National Museum of Modern and Contemporary Art
10                In front of Jonggak Station Exit 1
Name: office, dtype: object

In [7]:
df_rental1['translated_office'] = df_rental1.office.apply(lambda x: translator.translate(x, dest='en').text)

In [31]:
df_rental1.loc[286]

code                                563
office                        성동세무서 건너편
borough                             성동구
address              서울특별시 성동구 광나루로 302
latitude                      37.547913
longitude                    127.062752
install_date                 06/07/2016
LCD                                10.0
QR                                  NaN
type                                LCD
translated_office             성동세무서 건너편
Name: 286, dtype: object