In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from factor_analyzer import FactorAnalyzer
from yellowbrick.features import PCA as YBPCA
from kneed import KneeLocator
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
from factor_analyzer.factor_analyzer import calculate_kmo
#import plotly.express as px

In [3]:
bike_summer = pd.read_csv("bike_summer.csv")
bike_summer.head()

,Unnamed: 0,datetime,date,hour,season,holiday,open,rent_count,temperature,humidity,wind_speed,visibility,dewpoint_temp,solar_radiation,rainfall,snowfall
0,1,2018-06-01 00:00:00,2018-06-01,0,Summer,No Holiday,Yes,963,20.1,63,1.1,16980,12.8,0.0,0.0,0
1,2,2018-06-01 01:00:00,2018-06-01,1,Summer,No Holiday,Yes,776,19.5,65,0.4,16620,12.7,0.0,0.0,0
2,3,2018-06-01 02:00:00,2018-06-01,2,Summer,No Holiday,Yes,554,19.0,72,1.4,12580,13.8,0.0,0.0,0
3,4,2018-06-01 03:00:00,2018-06-01,3,Summer,No Holiday,Yes,366,18.6,72,1.4,13400,13.4,0.0,0.0,0
4,5,2018-06-01 04:00:00,2018-06-01,4,Summer,No Holiday,Yes,265,18.1,76,1.8,5610,13.7,0.0,0.0,0

In [5]:
bike_summer_col = list(bike_summer.columns)
bike_summer_numeric_col = list(bike_summer.describe().columns)
diff_names = []
for i in bike_summer_col:
	if i not in bike_summer_numeric_col:
		diff_names.append(i)
diff_names

['datetime', 'date', 'season', 'holiday', 'open']

In [25]:
bike_summer2 = bike_summer.copy()
bike_summer2.drop(columns = diff_names,inplace=True)
bike_summer2.drop(columns = ['rent_count','dewpoint_temp'], inplace = True)
#bike_summer2.drop(columns = ['rent_count'], inplace = True)
bike_summer2.head()

,Unnamed: 0,hour,temperature,humidity,wind_speed,visibility,solar_radiation,rainfall,snowfall
0,1,0,20.1,63,1.1,16980,0.0,0.0,0
1,2,1,19.5,65,0.4,16620,0.0,0.0,0
2,3,2,19.0,72,1.4,12580,0.0,0.0,0
3,4,3,18.6,72,1.4,13400,0.0,0.0,0
4,5,4,18.1,76,1.8,5610,0.0,0.0,0

In [26]:
bike_summer3 = bike_summer2.iloc[: , 2:-1]
bike_summer3.head()

   temperature  humidity  wind_speed  visibility  solar_radiation  rainfall
0         20.1        63         1.1       16980              0.0       0.0
1         19.5        65         0.4       16620              0.0       0.0
2         19.0        72         1.4       12580              0.0       0.0
3         18.6        72         1.4       13400              0.0       0.0
4         18.1        76         1.8        5610              0.0       0.0

In [27]:
bike_summer3.describe()

,temperature,humidity,wind_speed,visibility,solar_radiation,rainfall
count,2208.000000,2208.000000,2208.000000,2208.000000,2208.000000,2208.000000
mean,26.582790,64.981431,1.609420,15017.454710,0.761255,0.253487
std,4.662299,17.570961,0.914289,5405.439653,0.999001,1.587507
min,16.300000,21.000000,0.000000,700.000000,0.000000,0.000000
25%,23.100000,52.000000,0.900000,10767.500000,0.000000,0.000000
50%,26.600000,65.000000,1.500000,17405.000000,0.160000,0.000000
75%,29.800000,79.000000,2.200000,19990.000000,1.360000,0.000000
max,39.400000,98.000000,6.900000,20000.000000,3.450000,29.500000

In [28]:
_ , p_value = calculate_bartlett_sphericity(bike_summer3)
p_value

0.0

In [29]:
_, kmo_score = calculate_kmo(bike_summer3)
kmo_score

0.6978347129769691