In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from factor_analyzer import FactorAnalyzer
from yellowbrick.features import PCA as YBPCA
from kneed import KneeLocator
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
from factor_analyzer.factor_analyzer import calculate_kmo
#import plotly.express as px

In [3]:
bike_autumn = pd.read_csv("bike_autumn.csv")
bike_autumn.head()

,Unnamed: 0,datetime,date,hour,season,holiday,open,rent_count,temperature,humidity,wind_speed,visibility,dewpoint_temp,solar_radiation,rainfall,snowfall
0,1,2018-09-01 00:00:00,2018-09-01,0,Autumn,No Holiday,Yes,1075,23.2,83,0.5,18870,20.1,0.0,0.0,0
1,2,2018-09-01 01:00:00,2018-09-01,1,Autumn,No Holiday,Yes,975,22.7,83,0.1,19400,19.6,0.0,0.0,0
2,3,2018-09-01 02:00:00,2018-09-01,2,Autumn,No Holiday,Yes,785,22.0,86,0.4,17030,19.5,0.0,0.0,0
3,4,2018-09-01 03:00:00,2018-09-01,3,Autumn,No Holiday,Yes,514,21.6,87,0.3,15790,19.3,0.0,0.0,0
4,5,2018-09-01 04:00:00,2018-09-01,4,Autumn,No Holiday,Yes,338,21.2,88,0.9,11830,19.1,0.0,0.0,0

In [4]:
bike_autumn_col = list(bike_autumn.columns)
bike_autumn_numeric_col = list(bike_autumn.describe().columns)
diff_names = []
for i in bike_autumn_col:
	if i not in bike_autumn_numeric_col:
		diff_names.append(i)
diff_names

['datetime', 'date', 'season', 'holiday', 'open']

In [23]:
bike_autumn2 = bike_autumn.copy()
bike_autumn2.drop(columns = diff_names,inplace=True)
bike_autumn2.drop(columns = ['rent_count'], inplace = True)
#bike_autumn2.drop(columns = ['rent_count','dewpoint_temp'], inplace = True)
bike_autumn2.head()

,Unnamed: 0,hour,temperature,humidity,wind_speed,visibility,dewpoint_temp,solar_radiation,rainfall,snowfall
0,1,0,23.2,83,0.5,18870,20.1,0.0,0.0,0
1,2,1,22.7,83,0.1,19400,19.6,0.0,0.0,0
2,3,2,22.0,86,0.4,17030,19.5,0.0,0.0,0
3,4,3,21.6,87,0.3,15790,19.3,0.0,0.0,0
4,5,4,21.2,88,0.9,11830,19.1,0.0,0.0,0

In [24]:
bike_autumn3 = bike_autumn2.iloc[: , 2:-1]
bike_autumn3.head()

,temperature,humidity,wind_speed,visibility,dewpoint_temp,solar_radiation,rainfall
0,23.2,83,0.5,18870,20.1,0.0,0.0
1,22.7,83,0.1,19400,19.6,0.0,0.0
2,22.0,86,0.4,17030,19.5,0.0,0.0
3,21.6,87,0.3,15790,19.3,0.0,0.0
4,21.2,88,0.9,11830,19.1,0.0,0.0

In [25]:
bike_autumn3.describe()

,temperature,humidity,wind_speed,visibility,dewpoint_temp,solar_radiation,rainfall
count,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000,2184.000000
mean,14.120833,59.228480,1.494734,15607.522894,5.498718,0.521818,0.122756
std,7.062297,18.686445,0.924440,5660.911180,7.819155,0.798543,0.947098
min,-3.000000,13.000000,0.000000,330.000000,-19.000000,0.000000,0.000000
25%,8.575000,44.000000,0.800000,11817.500000,0.675000,0.000000,0.000000
50%,13.850000,59.000000,1.300000,19000.000000,5.500000,0.000000,0.000000
75%,19.800000,74.000000,2.000000,20000.000000,10.825000,0.892500,0.000000
max,30.500000,97.000000,5.700000,20000.000000,23.900000,3.120000,18.000000

In [26]:
_ , p_value = calculate_bartlett_sphericity(bike_autumn3)
p_value

0.0

In [27]:
_, kmo_score = calculate_kmo(bike_autumn3)
kmo_score

0.3864639413883111